@model IEnumerable<Black_Panther_Knives.Models.Order>

@{
    int sr = 0;
    ViewBag.Title = "View";


}
<center>
    <h2>New Order</h2>
</center>
@using (Html.BeginForm("NewOrder", "Reports", FormMethod.Post))
{
<table width="100%" border="1">
    <tr>
        <td>Date From:</td>
        <td><input name="Date_From" type="datetime-local" value=@ViewBag.DateFrom class="form-control" /></td>
        <td>Date To:</td>
        <td><input name="Date_To" type="datetime-local" value=@ViewBag.DateTo class="form-control" /></td>
        <td><button class="btn btn-primary btn-block">Generate Report</button></td>
    </tr>
    <tr>
        <td>category:</td>
        <td> @Html.DropDownList("Category", ViewBag.Category as SelectList, "Salect category", htmlAttributes: new { @class = "form-control" })</td>
        <td>Product:</td>
        <td> @Html.DropDownList("Product", ViewBag.Product as SelectList, "Salect Poduct", htmlAttributes: new { @class = "form-control" })</td>
        <td><button class="btn btn-primary btn-block">Generate Report</button></td>
    </tr>
</table>
}
    <br />
    <table border="1" class="table table-responsive table-hover">
        <tr>
            <th>Sr #</th>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Order Type</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Order Email</th>
            <th>Order Contact</th>
            <th>Order Address</th>
            <th>Order Status</th>
            <th>View Detail</th>
            <th>Update</th>
        </tr>
        @foreach (var o in Model)
        {
            sr++;
    <tr>
        <td>@sr</td>
        <td>Order-@o.order_id</td>
        <td>@DateTime.Parse(o.Order_Date.ToString()).ToLongDateString()</td>
        <td>@o.order_type</td>
        <td>@o.Order_First_Name</td>
        <td>@o.Order_Last_name</td>
        <td>@o.Order_Email</td>
        <td>@o.Order_Phone</td>
        <td>@o.order_Street_Address</td>
        <td>@o.Order_Status</td>

        <td><a href="@Url.Action("Invoice", "Reports", new { id = o.order_id })" class="btn btn-primary"> View Invoice</a></td>
        <td><a href="@Url.Action("Update", "Reports", new { id = o.order_id })" class="btn btn-primary"> Deliverd</a></td>
    </tr>
        }
    </table>
