@model IEnumerable<Black_Panther_Knives.Models.Product>
@{

    ViewBag.Title = "View";
    int sr = 0;

}
<center>
    <h2>Stock Report</h2>
</center>
@using (Html.BeginForm("StockReport", "Reports", FormMethod.Post))
{
    <table width="100%" border="1">
        <tr>

            <td>Date From:</td>
            <td><input readonly disabled name="Date_From" type="datetime-local" value=@ViewBag.DateFrom class="form-control" /></td>

            <td>Date To:</td>

            <td><input name="Date_To" type="datetime-local" value=@ViewBag.DateTo class="form-control" /></td>

            
        </tr>
        <tr>
            <td>category:</td>
            <td> @Html.DropDownList("Category", ViewBag.Category as SelectList, "Salect category", htmlAttributes: new { @class = "form-control" })</td>
            <td>Product:</td>
            <td> @Html.DropDownList("Product", ViewBag.Product as SelectList, "Salect Poduct", htmlAttributes: new { @class = "form-control" })</td>
            
        </tr>
        
        <tr >
            <td style="padding-top:10px" colspan="4"><button class="btn  btn-block" style="background-color:#ff6666; color:white">Generate Report</button></td>
        </tr>
    </table>
}
<center>
    <h2>Stock Report</h2>
</center>

<table border="1" class="table table-responsive table-hover">
    <tr style="background-color:#ff6666; color:white">

        <th>sr #</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Sale Price</th>
        <th>Purchase Price</th>
        <th>Stock Quantity (Available)</th>
    </tr>
    @foreach (var p in Model)
    {
        sr++;
        <tr>

            <td>@sr</td>
            <td>@p.Product_Name</td>
            <td>@p.product_discription</td>
            <td>@p.Product_Sale_Price</td>
            <td>@p.Product_Purchase_price</td>
            <td>@p.Order_Detail.Where(x => x.Order.Order_Date <= Convert.ToDateTime(ViewBag.DateTo)).Sum(x => x.ORDER_QUANTITY)</td>

        </tr>
    }
</table>